<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Grav Site{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ url('theme://css/header.css') }}">
        <link rel="stylesheet" href="{{ url('theme://css/footer.css') }}">
        <link rel="stylesheet" href="{{ url('theme://css/sidebar.css') }}">
        <link rel="stylesheet" href="{{ url('theme://css/navigation.css') }}">
        <link rel="stylesheet" href="{{ url('theme://css/custom.css') }}">
    {% endblock %}
</head>
<body>
<header>
    {% include 'partials/header.html.twig' %}
</header>

<nav>
    {% include 'partials/navigation.html.twig' %}
</nav>

<aside>
    {% include 'partials/sidebar.html.twig' %}
</aside>

<main>
    {% block content %}{% endblock %}
</main>

<footer>
    {% include 'partials/footer.html.twig' %}
</footer>

<!-- Add your scripts here -->
{% block javascripts %}{% endblock %}
</body>
</html>